# --- Keitaro API Settings ---
# Замените значения на ваши актуальные данные из панели администратора Keitaro
KEITARO_API_KEY="YOUR_KEITARO_API_KEY"
KEITARO_API_URL="https://your-keitaro-domain.com/admin_api/v1"

SQLALCHEMY_DATABASE_URI="sqlite:///./app.db"